/* 

    You can write your own styles here...
    
    
    ...Or you can use the import command to include 
    other sylesheets into your bunde as well, e.j:
    
    import 'relative/path/to/stylesheet.scss';

*/
.light{
	width: 50px;
	height: 50px;
	margin: 1em;
	border-radius: 50%;
}
.red{ background: red;}
.yellow{ background: yellow;}
.green{ background: green;}
.purple{ background: purple;}
.active{
    border: 6px solid white ;
}
.box{
    background: black;
    width: 82px;
    padding: 1em 0;
}
.button{
    height: auto;
    width: 82px;
    padding: 0.25em;
}